{% assign form_posted = false %}
{% if form_posted.posted_successfully? %}
  {% assign form_posted = true %}
{% endif %}

{% if form_posted %}
  <p>Thank you for your submission!</p>
{% else %}
  <form method="post" action="/contact#contact_form" id="contact_form" accept-charset="UTF-8" class="contact-form">
    <div>
      <label for="ContactFormName">Your Name</label>
      <input type="text" id="ContactFormName" name="contact[name]" value="">
    </div>
    
    <div>
      <label for="ContactFormEmail">Your Email</label>
      <input type="email" id="ContactFormEmail" name="contact[email]" value="" aria-required="true">
    </div>
    
    <div>
      <label for="ContactFormMessage">Your Message</label>
      <textarea rows="5" id="ContactFormMessage" name="contact[body]" aria-required="true"></textarea>
    </div>
    
    <input type="submit" class="btn" value="Send">
  </form>
{% endif %}

{% schema %}
  {
    "name": "Custom Form",
    "settings": []
  }
{% endschema %}