<style>
  h1,
h2,
h3,
h4 {
    line-height: 1.3;
}

a {
    color: var(--secondary-color);
    text-decoration: none;
}

.container {
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
    padding: 2rem;
}

.section-a {
    margin: 2rem 0;
}



.section-a h1 {
    font-size: 4rem;
    color: var(--primary-color);
}

.section-a p {
    margin: 1rem 0;
}

</style>

<section class="section-a">
    <div class="container">
        <div class="row">
          {% for block in section.blocks %}  
    {%- assign product = all_products[block.settings.product] -%}
          <div class="col-md-3">
            <div class="card" style="width: 18rem;">
              {{ product.images.first  | img_url: '360x360' | img_tag }}
              <div class="card-body">
                <h3 class="card-title">{{ product.title }}</h3>
                <p class="card-text">Rs. {{ product.price }}</p>
                <input type="number" value="{{ product.selected_or_first_available_variant.id }}" id="test_product_id" >
                <input type="number" id="quantity" >
                <div class="ajax-cart-item__remove ' + defaults.removeFromCartNoDot + '">remobe</div>
                <button class="btn btn-success btn-lg py-2 px-2 my-2 mx-2" id="btn-cart">CART</button>
              </div>
            </div>
          </div>         
      {% endfor %}
        </div>
    </div>
</section>

<script>
  $('#btn-cart').click(function() 
{
    $.ajax
    ({ 
        type: 'POST',
        url: '/cart/add.js',
        data: {
            quantity: $('#quantity').val(),
            id: $('#test_product_id').val()
          },
        dataType: 'json', 
         success: function (item) { 
           $('cart-drawer').addClass('active');
          $.ajax({
                url: '/?section_id=cart-drawer',
                type: 'GET',
                dataType: 'html',
                success:function(carthtml) {
                  if($("cart-drawer.drawer").hasClass('is-empty')){
                      $('cart-drawer').html($(carthtml).find('cart-drawer').html());
                      $("cart-drawer.is-empty .drawer__header").css("display", "block");
                      $("cart-drawer.is-empty .drawer__footer").css("display", "block");
                      $("cart-drawer.is-empty .cart__contents").css("display", "block");
                      $("cart-drawer.drawer").removeClass('is-empty');
                      const productTitle = '<div class="ajax-cart-item__title">' + item.title + '</div>';
                      const productImage = '<img class="ajax-cart-item__image" src="' + item.image + '" >';
                      const productPrice = '<div class="ajax-cart-item__price">' + item.line_price + '</div>';
                      const productQuantity = '<div class="ajax-cart-item__quantity">' + item.quantity + '</div>';
                      const productRemove = '<div class="ajax-cart-item__remove ' + defaults.removeFromCartNoDot + '"></div>';
                      const concatProductInfo = '<div class="ajax-cart-item__single" data-line="' + Number(index + 1) + '">' + productTitle + productImage + productPrice + productQuantity + productRemove + '</div>';
                      $("#CartDrawer-Overlay").click(function(){
                         $("cart-drawer.drawer").removeClass('active');
                      });
                  } else {
                     $("cart-drawer").html($(carthtml).find('cart-drawer').html());
                  }
                }
              });
         } 
    });
});
</script>

{% schema %}
  {
    "name": "cust-feat-product",
    "tag" : "section",
    "settings" : [],
    "blocks": [
      {
        "type": "product",
        "name": "product",
        "settings": [
          {
            "type": "product",
            "id": "product",
            "label": "Product"
          },
          {
            "type": "text",
            "id": "footnote",
            "label": "Add Foot Note"
          }
        ]
      }],
    "presets": [
    {
      "name": "cust-feat-product",
      "blocks" : [{"type":"product"}]
    }
  ]
  }
{% endschema %}