<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js "></script>
<button id="find_btn">Find Me</button>
<div id="result"></div>
<script>
  // get user loacation lat/lang
  $("#find_btn").click(function () { //user clicks button
	if ("geolocation" in navigator){ //check geolocation available 
		//try to get user current location using getCurrentPosition() method
		navigator.geolocation.getCurrentPosition(function(position){ 
				$("#result").html("Found your location <br />Lat : "+position.coords.latitude+" </br>Lang :"+ position.coords.longitude);
			});
	}else{
		console.log("Browser doesn't support geolocation!");
	}
});
$.get("https://ipinfo.io", function(response) {
    console.log(response.country);
}, "jsonp");

  // get user ip address 
  $.getJSON('https://jsonip.com/?callback=?').done(function(data) {
    var ip_address = window.JSON.parse(JSON.stringify(data, null, 2));
    ip_address = ip_address.country;
    
    //Execute Your Code
  console.log(ip_address);
});
</script>

{% schema %}
  {
    "name": "test",
    "tag": "section",
    "settings": [ ],
    "presets": [
      {
        "name": "test"
      }
    ]
  }
{% endschema %}