{% comment %} <div class="container">
        <div class="row justify-content-center my-4">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h3>Edit Form</h3>
                    </div>
                    <div class="card-body">
                        <form method="post" enctype="multipart/form-data">
                        <div class="container">
                            <div class="form-group my-4">
                                <label for="">Full Name</label>
                                <input type="text" class="form-control" name="name"
                                    value="" placeholder="Full Name">
                                <span class="text-danger">
                                </span>
                            </div>
                            <div class="form-group my-4">
                                <label for="">Email</label>
                                <input type="email" class="form-control" name="email"
                                    value="" placeholder="Email">
                                <span class="text-danger">
                                </span>
                            </div>
                            <div class="row">
                                <label for="" class="mb-2">Choose Gender</label>
                                <div class="col-md-4">
                                    <div class="form-check">
                                        <input type="radio" class="form-check-input" name="gender" value="M"
                                            checked>MALE
                                        <label class="form-check-label" for="radio1"></label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-check">
                                        <input type="radio" class="form-check-input" name="gender"
                                            value="F">FEMALE
                                        <label class="form-check-label" for="radio2"></label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-check">
                                        <input type="radio" class="form-check-input" name="gender"
                                            value="O">OTHERS
                                        <label class="form-check-label" for="radio2"></label>
                                    </div>
                                </div>
                                <span class="text-danger">
                                </span>
                            </div>
                            <div class="form-group">
                                <select class="form-select mt-3" name="country">
                                    <option value="India">India</option>
                                    <option value="USA">USA</option>
                                    <option value="UK">UK</option>
                                    <option value="Canada">Canada</option>
                                </select>
                                <span class="text-danger">
                                </span>
                            </div>
                            <div class="row my-3">
                                <label for="" class="my-2">Choose Qualification</label>
                                <div class="col-md-3">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" name="quali[]" value="1">
                                        <label class="form-check-label" for="check1">10th</label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" name="quali[]" value="2">
                                        <label class="form-check-label" for="check2">12th</label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" name="quali[]" value="3">
                                        <label class="form-check-label" for="check3">UG</label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" name="quali[]"
                                            value="4">
                                        <label class="form-check-label" for="check4">PG</label>
                                    </div>
                                </div>
                                <span class="text-danger">
                                </span>
                            </div>
                            <div class="form-group my-4">
                                <label for="">Password</label>
                                <input type="password" name="password" class="form-control" placeholder="Password"
                                    value="">
                                <span class="text-danger">
                                </span>
                            </div>
                            <div class="form-group my-4">
                                <label for="">Confirm Password</label>
                                <input type="password" name="cpassword" class="form-control"
                                    placeholder="Confirm Password" value="">
                                <span class="text-danger">
                                </span>
                            </div>
                            <div class="form-group">
                                <label class="form-label">Choose Image</label>
                                <input class="form-control" type="file" name="image" />
                                <span class="text-danger">
                                </span>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary my-4">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div> {% endcomment %}

    <h1>hello</h1>